<div class="row">
    <div class="col-sm-offset-1 col-sm-10 login">
    <h3 class="text-primary">Login Here</h3>
        <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" ([ngModel])="uname" class="form-control" id="name" placeholder="Enter user name" name="name">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" ([ngModel])="upwd" class="form-control" id="pwd" placeholder="Enter  Your password" name="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button (click)="login({'uname':uname,'upwd':upwd})" type="submit"  class="btn btn-success btn-lg">Submit</button>
      <button type="reset" class="btn btn-defualt btn-lg">Cancel</button>
    </form>
    </div>
  </div>
<h3>{{login_result | json}}</h3>