<h3 class="text-success">Welcome to Comunications Between Components Concepts</h3>
<br>
<h4 class="text-primary">Concepts Are</h4>
<p>@Input()</p>
<p>@Output()</p>
<p>@ViewChild()</p>
<br>
<ul class="nav navbar-nav child-navs">
    <li>
      <a routerLink="IO">@Input()and@OutPut()</a>
          </li>
          <li>
              <a routerLink="viewchild">@ViewChild</a>
          </li>  
          <li>
              <a routerLink="viewchildren">@ViewChildren</a>
          </li>
     </ul>
     <br><br><br>
          <router-outlet></router-outlet>