<h3 class="text-primary">Attribute Custom Directive</h3>
<div class="form-group">
               <label for="color" class="control-label">Select Color</label>&nbsp;
               <input type="color" [(ngModel)]="color_one">
           </div>
           <div class="form-group">
               <label for="color" class="control-label">Select Color</label>&nbsp;
               <input type="color" [(ngModel)]="color_two">
           </div>
      <h3 myDir>mouse over me</h3>
      <h3 class="text-primary">Structural Custom Directive</h3>
      <!-- <p *hello>this is structural directive declartion</p> -->