<div class="container">
  <nav class="navbar main_nav">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
            <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
            <li>
                    <a routerLink="/">staticFile</a>
                </li>
           
            <li>
            <a routerLink="Calls">Calls</a>
            </li>
            <li><a routerLink="mysql">MySql</a></li>
            <li><a routerLink="mongo">Mdb</a></li>
        
        <li>
            <a routerLink="php">Php</a>
        </li>
        <li>
            <a routerLink="TwoinOne">TwoinOne</a>
        </li>
        
        <li>
            <a routerLink="httpclient">HttpClient</a>
        </li>
        <li>
            <a routerLink="emp">Emp</a>
        </li>
        <li>
            <a routerLink="interceptor">Interceptor</a>
        </li>
        <li>
            <a routerLink="lazy">Lazy</a>
        </li>
        <li>
            <a routerLink="pipes">Pipes</a>
        </li>
        <li>
            <a routerLink="cms">CMS</a>
        </li>
        <li>
            <a routerLink="forms">Forms</a>
        </li>
        <li>
            <a routerLink="directive">Directives</a>
        </li>
        <li>
                <a routerLink="utest">UTest</a>
            </li>
      </ul>
      </div>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>