<h3 style="color:darkgreen">Welcome to Php Integration concept</h3>
<h1>{{result | json}}</h1>
<!-- 
<h3 class="text-success">Products Details</h3>
<div class="table-responsive">
  <table class="table  table-bordered">
    <thead>
      <tr>
        <th>Status</th>
        <th>Msg</th>
        <th>P_cost</th>
         </tr>
    </thead>
     <tbody>
     <tr *ngFor = "let y of result">
        <td>{{y.status}}</td>
     <!-- <td>{{y.msg[0].1}}</td>
        <td>{{y.}</td> -->
      <!-- </tr>
    </tbody>
    </table>
    </div> -->